@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
	--laranja: #ff914d;
	--laranja-claro: #f4cd9e;
	--verde: #385a20;
}
* {
	font-family: "Inter", sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
nav {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	background-color: var(--laranja);
	color: white;
	width: 100%;
	position: fixed;
	top: 0;
}

nav > div {
	align-items: center;
	margin: 0 1rem;
	display: flex;
	justify-content: space-between;
	height: 100%;
}

nav > div > p {
	padding: 15px 2em;
}

nav > div > p:hover {
	background-color: var(--laranja);
}
nav > div > button {
	height: 100%;
	border-radius: 0;
	background-color: var(--laranja);
}
nav > div > button:hover {
	background-color: var(--laranja);
}

button {
	padding: 0.25rem 1rem;
	font-size: 16px;
	border-radius: 0.25rem;
	border: none;
	background-color: var(--verde);
	color: white;
	transition: all ease-in 0.1s;
}

button:hover {
	background-color: var(--laranja-claro);
	color: black;
	box-shadow: 5px 7px 10px 1px #000000;
}
.topnav img {
	height: 100%;
	width: 100%;
}

.nav_btn {
	background-color: white;
	color: var(--laranja);
}

.nav_btn:hover {
	color: white;
}
