@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 15px;
	color: #000000;
}

.container {
	padding-top: 5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

:root {
	--verde: #385a20;
	--azul: #337f9c;
}

body {
	font-family: "Inter", "sans-serif";
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #e8e8e8;
}

.container-pet {
	width: 300px;
	min-width: 200px;
	height: 350px;
	max-height: 400px;
	margin: 3rem;
	background-color: var(--azul);
	transition: all 0.2s ease-in-out;
	color: white;
}

.container-pet:hover {
	transform: scale(1.2);
}

.image {
	width: 100%;
}

.container-image {
	display: grid;
	place-items: center;
}

.image img {
	width: 100%;
	height: 250px;
}
button {
	all: unset;
}
.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: center;
	text-align: center;
}

.btt {
	border: none;
	height: 40px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btt:hover {
	background-color: white;
	color: var(--azul);
}

/* @media (max-width: 768px) {
	.container .container-image {
		padding: 25px 20px;
	}

	.container .container-image .image {
		width: 100%;
	}
}
@media (max-width: 450px) {
	.container .container-image {
		padding: 25px 20 px;
	}

	.container .container-image .image {
		width: 100%;
	}
} */
