@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    padding: 25px 10%;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    width: 100%;
}

.container .heading {
    font-size: 30px;
    padding-bottom: 25px;
    color: #fff;
}

.container img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.container-image {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.container .container-image {
    gap: 20px;
    padding: 30px;
}

.container .container-image .image {
    width: 350px;
    border-radius: 20px;
    border: 1px solid #f4cd9e;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #337f9c;
    padding: 15px;
    animation: fadeIn 0.2s linear;
}

.container .container-image .image img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.container .container-image .image img:hover {
    transform: scale(1.2);
}

.container .container-image .image h3 {
        font-size: 20px;
        font-family: 'Dosis', 'Helvetica', 'Arial', sans-serif;
}

p {
    text-align: left !important;
}

@media (max-width: 768px) {
    .container .container-image {
        padding: 25px 20px;
    }

    .container .container-image .image {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .container .container-image {
        padding: 25px 20px;
    }

    .container .container-image .image {
        width: 100%;
    }
}