@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Montserrat:ital@1&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #fa7f72;
}

.container{
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 212);
}
.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
}
.form-image img{
    width: 31rem;
}
.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fa7f72;
    padding: 3rem;
    margin-top: 50px;
}
.form-header{
    margin-bottom: 3rem;
    display: block;
    justify-content: space-between;
    color: #fff;
    margin-top: -100px; 
    padding-top: 10px; 
}

.xis{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p{
    margin-top: 15px;
    padding-top: 20px;
}

.upload{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 60px;
    color: #fff;
    font-size: medium;
    align-items: center;
}

.upload{
        width: 400px;
        height: 200px;
        background-color:#8ed25e;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 80px;
}
.sent{
    width: 160px;
    height: 30px;
    border-radius: 5px;
    font-size: medium;
    color: #fff;
    background-color:#385A20; 
    border-color: transparent;
}


.sent:hover {
    background-color: #8ed25e;
}

.login-button{
    display: flex;
    flex-direction:row; 
    align-items: center;
    margin-bottom: 0;
    margin-top: 60px;
}

.login-button button{
    border: none;
    margin: 10px 0; 
    width: 150px;
    height: 40px;
    background-color: #385A20;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    cursor: pointer; 
    justify-content:space-around;
    align-items: center;
    align-items: flex-end;
    margin-left: 20px;
}

.login-button button {
    margin-right: 40px; /* Adiciona margem à direita do primeiro botão */
  }
  
  .login-button button:last-child {
    margin-right: 0; /* Remove a margem à direita do último botão */
  }
  

.login-button button:hover {
    background-color: #8ed25e;
}
.login-button a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #fff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}


@media screen and (max-width:1330px){
    .form-image{
        display: none;
    }
    .container{
        width: 50%;
    }
    .form{
        width: 100%;
    }
}

@media screen and (max-width:1064px){
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
}