@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
body *{
    box-sizing: border
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #337F9C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 30vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
 color:#ffffff;
 font-size: 2.5vw;
}

.left-login-image{
    width: 35vw;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 30px 35px;
    background: #337F9C;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #D9E4DD;
}
.card-login > h1{
    color: #ffffff;
    font-weight: 800;
    margin:0;
}
.text-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.text-field> input{
    width: 100%;
    border:none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color:#000000;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #e2993f80;
    outline: none;
    box-sizing: border-box;
}
.text-field > label{
    color:#ffffff;
    margin-bottom: 10px;
}
.text-field>input::placeholder{
    color:#555555;

}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin:25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#ffffff;
    background-color: #555555;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #353535;
}
@media only screen and (max-width:950px){
    .card-login{
        width:85%
    }
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;

    }
}
