@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Noto+Sans:ital,wght@0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    line-height: 1.5;
    font-family: Montserrat,Arial,sans-serif;
}
.banner-image{
    width: 100%;
    background-color: #020202;

}
.elementor-widget-container{
    margin: 10px;
    margin-left: 15%;
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
    font-family: "Poppins", Sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.dog_img p{
    font-family: "Poppins", Sans-serif;
    font-size: 44px;
    font-weight: 800;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.dog_img{
    background-color: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog_img p{
    position: absolute;
    color: white;

}


.dog_img img{
    height: 100%;
    width: 100%;
}

ul{
    list-style-type: none;
    font-family: "Poppins", Sans-serif;
    font-size: 22px;
    font-weight: 500;
}
li{
    padding: 20px;
}

.List-text {
    margin-left: 20px;
    
}

.toggle-button {
    background-color: #ff914d;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
}

.hidden-text {
    display: none;
    margin-top: 20px;
}

.all-cards {
    padding: 20px;
    margin: 20px;
}

.all-cards h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 0 10px;
}

.all-cards p {
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 0;
}
.header-card1{
    font-size: 36px;
    font-weight: 700;
}

.header-card2{
    margin-bottom: 20px;
}

.header-card2 h2{
    font-size: 36px;
    font-weight: 700;
}

.all-cards img {
    max-width: 100%;
    height: auto;
   
}
.cachorro-perdido {
    height: auto;
    max-width: 400px;
    padding: 0 40px;
    border-radius: 5px;
    overflow: hidden;
  }
.cachorro-img {
    height: auto;
    max-width: 400px;
    padding: 0 40px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 16%;
  }
  .cachorro-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px; 
  }
  @media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .cachorro-img {
        padding: 0;
      }
}
