@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&family=Noto+Sans:ital,wght@0,700;1,400&display=swap");

:root {
	--laranja: #bfddf3;
	--laranja-claro: #bfddf3;
	--verde: #385a20;
	--salmao: #fa7f72;
	--azul: #337f9c;
}

a {
	all: unset;
	color: red;
	cursor: pointer;
}
body {
	margin: 0;
	background-color: #ffffff;
	font-family: Montserrat, Arial, sans-serif;
}

.encontrados {
    margin-top: 100px;
	display: flex;
	background-color: var(--azul);
}

header {
	padding-left: 1rem;
}
section {
	padding: 1rem 5rem;
}
.perdidos {
    margin-left: -80px;
    margin-top: 50px;
	display: flex;
	gap: 1rem;
}

.poster {
	height: 250px;
}

.icon {
	height: 50px;
	margin: 0;
	padding: 0;
}

header {
	padding-top: 5rem;
}
