@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
	--salmao: #fa7f72;
	--verde: #385a20;
}

html {
	margin: 0;
	padding: 0;
}
* {
	font-family: "Inter", sans-serif;
}
body {
	margin: 0px;
	padding: 0px;
}

a {
	color: var(--verde);
	outline: none;
	text-decoration: none;
}

button {
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
	border: none;
	background-color: var(--verde);
	color: white;
	transition: all ease-in 0.1s;
}

button:hover {
	background-color: var(--salmao);
	color: black;
	box-shadow: 5px 7px 10px 1px #000000;
}

.btnGrande:hover {
	background-color: var(--salmao);
}

main {
	padding-top: 5rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	background-color: #e8e8e8;
}

footer {
	background-color: var(--verde);
	display: flex;
	justify-content: center;
}

.petsPerdidos {
	display: flex;
	justify-content: center;
}
div:has(.petsPerdidos) {
	display: grid;
	place-items: center;
}

.btnGrande {
	height: 5rem;
	font-size: 20px;
	margin-right: 1rem;
}

.petPerdido {
	width: 15rem;
	background-color: var(--verde);
	margin: 0 1rem;
	box-shadow: 0px 9px 10px 1px #000000;
}

.petPerdido button {
	box-shadow: none;
	width: 100%;
	border-radius: 0;
}

.dadosPet {
	width: 100%;
	text-align: center;
}

.dadosPet img {
	width: 100%;
}

.localPet {
	margin: 1rem 0;
	font-size: 15px;
}

.localPet img {
	height: 16px;
	width: 16px;
}

.tags {
	margin: 1rem 0;
	padding: 0 1rem;
	display: flex;
}

.tag {
	font-size: 12px;
	margin: 0 10px;
	background-color: var(--salmao);
	color: white;
	border-radius: 15rem;
	padding: 1.5%;
}
hr {
	width: 40%;
	margin: 0 0;
	outline: none;
	border: 2.5px solid var(--salmao);
	border-radius: 15rem;
}

.vejaMais {
	text-align: center;
	background-color: var(--salmao);
	padding: 1rem 2.5rem;
}

div:has(.vejaMais) {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
}

.petsEncontrados {
	display: flex;
	justify-content: center;
}
.petEncontrado {
	background-color: var(--salmao);
	width: 20rem;
	margin: 0 1rem;
	box-shadow: 0px 9px 10px 1px #000000;
}

.relato {
	height: 100px;
}
