:root {
	--salmao: #fa7f72;
	--verde: #385a20;
}
main {
	display: grid;
	place-items: center;
	background-color: #e8e8e8;
}

.post-container {
	max-width: 600px;
	padding: 10rem 5rem;
	min-width: 500px;
}
.image-container {
	display: grid;
	place-items: center;
}
.dog-image {
	width: 100%;
}

.local-pin {
	filter: invert(63%) sepia(19%) saturate(7481%) hue-rotate(324deg)
		brightness(95%) contrast(114%);

	width: 15px;
}

span {
	margin: 0;
}

.dados-primarios-pet {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: first baseline;
}
.dados-pet {
	display: flex;
	justify-content: space-between;
}
.descricao {
	text-align: left;
}
.status {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#status {
}

.procurando {
	background-color: var(--salmao);
	padding: 1rem;
	width: max-content;
}
