@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 100vw;
	margin: 3px;
	background: url("../images/dogfundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header, aside, footer {
	display: flex;
	margin: 3px;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1.5rem;
}
gmp-map {
  height: 100%;
}
.mapa{
width: 55rem;
height: 350px;
margin-left:50px;
margin-top: -15%;
margin-bottom: 20px;
}

header {
	height: 100px;
	flex: 1 1 100vw;
}
content {
    display: flex;
}

div.cardContainer {
    border-radius: 7px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    padding: 2px;
    background-color: #fff;
    text-align: center;
    margin: 50px auto;
    width: 400px;
    position: relative;
    border:2px solid #fff;
    margin-top:100px;
}

section.top img {

  height: 250px;
  overflow: hidden;
  width: 100%;

}
.contact-details {
    display: flex;
    justify-content: space-between;
}
.contact-item {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 14px;
}
.contact-title {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
}
.contact-item h3{
  margin-top: 5px;
  margin-bottom:13px;
  font-weight: 200;
}
.contact-title h3{
  margin-top: 5px;
  margin-bottom:13px;
}

hr {
    border: none;
    height: 2px;
    background-color: #ADD8E6;
    margin: 25px auto 15px 20px;
    width: 90%;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
    text-align: right;
}

h3 {
    margin: 0;
}


section.top button {
    background-color: #D7950D;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: #E7EDF4;
    border: 1px solid #fff;
}

footer {
    flex: 0 1 auto;
}

div.footerCardContainer {
    padding: 2px;
    background-color: #fff;
    text-align: center;
    margin: 50px auto;
    width: 280px;
    border-radius: 20px;
    position: relative;
    border: 2px solid #fff;
}
section.top {
    padding: 20px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    height: 600px;
}
section.bot {
    padding: 20px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
}

footer .cardContainer .bot {
    position: relative;
}

footer .cardContainer .bot img {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
     width: 50%;
}

main {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin-left: 3%;
  height: 1100px;
}


aside {
	flex: 1 1 auto;
}

a {
	text-decoration: none;
	color: inherit;
}
.descricao {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    padding: 0 20px;
}
.titulo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    padding: 0 20px;
}
@media only screen and (max-width: 717px) {
	#openMenu, #closeMenu {
		display: block;
	}

	aside {
		height: 100px;
	}
}
