@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
body{
    background-color: rgb(255, 255, 255);
}
.bold {
    font-weight: bold!important;
}
a {
    color: var(--black);
    text-decoration: none;
    font-size: 1.4em;
}
.wrapper-header .header-topbar-container {
    background-color: #fff;
    margin-bottom: 1rem;
}
.container {
    margin: 0 auto;
    max-width: 1270px !important;
    width: 100% !important;
    padding: 0 15px !important;
    font-size:15px;
}
.list-header{
    padding: 0px 15px;
    display: flex;
    text-align: center!important;
    margin: 0 auto!important;
    color: rgb(231, 102, 55);
}
.adress-item{
    padding-right: 10%;
}
.mobile-phone{
    padding-right: 7%;
}
.whatsapp-phone{
    padding-left: 10%;
}
ol, ul {
    list-style: none;
}
img {
    width: 150px;
    }
    section, footer{
        padding:54px 0;
    }
    h3{
        font-size:50px;
    }
    p{
        color:#0000009c;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
        background-color: rgb(231, 102, 55);
        margin: 0 auto;
        padding: 0 3%;
    }
    nav ul{
        display: flex;
        align-items: center;
    }
    nav ul a{
        color:rgb(243, 242, 241);
        margin: 0 25px;
        text-transform: uppercase;
        font-size: 18px;
        display: block;
    }
    nav ul a::after{
        content: "";
        background: rgb(255, 255, 255);
        height: 3px;
        width: 0%;
        display: block;
        margin: 0 auto;
        transition: 0.3s;
    }
    nav ul a:hover::after{
        width:100%;

    }